@import "tailwindcss";

@theme {
  --color-primary: #47C951;
  --font-sans: 'Poppins', system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
  body {
    @apply antialiased;
  }
}
